version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: laravel_app_todo
    working_dir: /var/www/html
    volumes:
      - ./src:/var/www/html
    ports:
      - 9000:9000
    depends_on:
      - db
  nginx:
    image: nginx:alpine
    container_name: laravel_nginx_todo
    ports:
      - 8080:80
    volumes:
      - ./src:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
  db:
    image: mysql:8.0
    container_name: laravel_db_todo
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
    ports:
      - 3306:3306
